body {
    background: #eee;
}
.cont{
    display:flex;
    justify-content:space-around;
    padding-left:120px;
    margin-bottom:50px;

}

img{
width:50%;
height:150px;}

h2{
text-align: center;
padding-top:30px;
padding-bottom:30px;
background-color:#ccc;


}




.card {
    border: none;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width:70%;

}


.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #a4e0e0;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #00b3b3;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 11px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #8E24AA;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #00b3b3!important;
    color: #00b3b3;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid # !important;
    color: #fff;
    height: 40px;
    background-color: #00b3b3;
}

.buttons button:nth-child(2) {
    border: 1px solid #00b3b3 !important;
    background-color: #00b3b3;
    color: #fff;
    height: 40px
}