<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="cards.css" />

  <title>Card</title>
</head>
<body>
<section>
  <div class="aboutHead">
    <h2>Our Amazing Team</h2>
  </div>

  <div class="container">
    <div class="card-1 card-div">
      <div class="like-icon-div">
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img src="https://avatars.githubusercontent.com/u/84705560?v=4" alt="god-of-war-figurine">
      </div>
      <div class="text-container">
        <h2 class="item-name">Mosa Rabea</h2>
        <p class="date"> Software Developer </p>
      </div>
    </div>

    <div class="card-1 card-div">
      <div class="like-icon-div">
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img src="https://avatars.githubusercontent.com/u/84705710?v=4" alt="god-of-war-figurine">
      </div>
      <div class="text-container">
        <h2 class="item-name">Balqees Alfasatlah</h2>
        <p class="date"> Software Developer </p>
      </div>
    </div>

    <div class="card-1 card-div">
      <div class="like-icon-div">
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img src="https://avatars.githubusercontent.com/u/85104388?v=4" alt="god-of-war-figurine">
      </div>
      <div class="text-container">
        <h2 class="item-name">Mansoor Kalash</h2>
        <p class="date"> Software Developer </p>
      </div>
    </div>
    <div class="card-1 card-div">
      <div class="like-icon-div">
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img src="https://avatars.githubusercontent.com/u/83532147?s=400&u=4f9dbbb293c9e709a1b0e6ed0f895d794ad3d412&v=4" alt="god-of-war-figurine">

      </div>
      <div class="text-container">
        <h2 class="item-name">Mahmoud Abubaker</h2>
        <p class="date"> Software Developer </p>
      </div>
    </div>
    <div class="card-1 card-div">
      <div class="like-icon-div">
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img src="https://avatars.githubusercontent.com/u/85109430?v=4" alt="god-of-war-figurine">
      </div>
      <div class="text-container">
        <h2 class="item-name">Al-Shamikh Quraan</h2>
        <p class="date"> Software Developer </p>
      </div>
    </div>





  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</section>





</div>
</body>
</html>