<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{footer.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<body>
<footer>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">About us</div>
                <p>We are a team of programmers who seek to provide programs that serve the community and contribute to its development.</p>
            </div>

        </div>
        <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#"> </a></div>
            <div class="link"><p href="#">Hospital</p></div>
            <div  class="link"><p href="#">Blood Bank</p></div>
            <div  class="link"><p href="#">Donter</p></div>

        </div>
        <div class="right box">
            <div class="topic">Contact us</div>
            <div class="phone">
                <p href="#"><i class="fas fa-phone-volume"></i>+9627 8689 8860</p>
            </div>
            <div class="email">
                <p href="#"><i class="fas fa-envelope"></i>info@CallBack.com</p>
            </div>
        </div>
        <div class="bottomp">
            <p>Copyright © 2021 CallBack Team All rights reserved</p>
        </div>
</footer>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</body>
</html>