<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <link th:href="hospital.css" rel="stylesheet"/>

</head>
<body>
<div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="/hospital">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                            Home
                        </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/all">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            All Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/ap">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            A+ Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/an">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            A- Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/bp">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            B+ Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/bn">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            B- Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/abp">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            AB+ Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/abn">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            AB- Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/op">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            O+ Donors
                        </span>
            </a>
        </li>

        <li class="has-subnav">
            <a href="/on">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            O- Donors
                        </span>
            </a>
        </li>


        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                            List of Hospital
                        </span>
            </a>
    </ul>
    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Logout
                        </span>
            </a>
        </li>
    </ul>
</nav>
<div>
    <div class="container">

        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
                <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Type of blood</a></div>
                <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">test1</a></div>
                <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">test2</a></div>
                <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">test3</a></div>
            </div>
            <div class="table-content">
                <div class="table-row">
                    <div class="table-data">mosa</div>
                    <div class="table-data">2</div>
                    <div class="table-data">0</div>
                    <div class="table-data">1</div>
                    <div class="table-data">5</div>
                </div>
                <div class="table-row">
                    <div class="table-data">abo baker</div>
                    <div class="table-data">1</div>
                    <div class="table-data">1</div>
                    <div class="table-data">2</div>
                    <div class="table-data">3</div>
                </div>
                <div class="table-row">
                    <div class="table-data">balqees</div>
                    <div class="table-data">0</div>
                    <div class="table-data">2</div>
                    <div class="table-data">2</div>
                    <div class="table-data">2</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/login.js}"></script>


</body>
</html>