<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="userProfile.css" rel="stylesheet"/>
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="signup.css" />
    <link rel="stylesheet" href="footer.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
</head>
<body>
<div th:replace="navBar :: nav"></div>
<div class="student-profile py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center" >
                        <img class="profile_img" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="student dp">

                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                    </div>
                    <div class="card-body pt-0">

                        <!--                                    <span ></span><p> </p><span></span>-->

                        <table class="table table-bordered" th:each="doner:${userInformatiom}">
                            <tr>
                                <th width="30%">User Name</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.username}"></td>
                            </tr>
                            <tr>
                                <th width="30%">First Name</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.firstName}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Last Name</th>
                                <td width="2%">:</td>
                                <td  th:text="${doner.lastName}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Blood Type </th>
                                <td width="2%">:</td>
                                <td th:text="${doner.blodType}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Phone Number</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.phoneNum}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Email</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.emailAdress}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Date Of Birth</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.dateOfBirth}"></td>
                            </tr>
                            <tr>
                                <th width="30%">Date Of Birth</th>
                                <td width="2%">:</td>
                                <td th:text="${doner.dateOfBirth}"></td>
                            </tr>


                            <tr >
                                <div class="color">
                                    <th:block th:switch="${doner.getStatus()}">
                                        <th:block th:case="'yes'">
                                            <a > <h5>You can donate</h5></a>
                                        </th:block>
                                        <th:block th:case="'no'">
                                            <p  > <h5> You can't donate for now</h5><span th:text="${doner.getDonatDate()}"></span></p>
                                        </th:block>

                                </div>

                            </tr>

                            <tr>
                                <h1 th:text ="${doner.numberOfDonat}"></h1>
                            </tr>


                        </table>





                    </div>
                </div>
                <div style="height: 26px"></div>

            </div>
        </div>
    </div>
</div>




<div th:replace="footer :: footer"></div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>
</html>