<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In Paga</title>

<!--    <link th:href="@{navBar.css}" rel="stylesheet" />-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link th:href="@{login.css}" rel="stylesheet" />-->

</head>
<body>


<!--<div th:replace="navBar :: nav"></div>-->
<!--<br>-->
<!--<h2>Sign in Page</h2>-->
<!--<div class="container" id="container">-->
<!--    <div class="form-container sign-up-container">-->
<h1>hiiiiiiii</h1>
        <form action="/signup" method="post">
            <h1>Sign Up</h1>
            <input type="text" name="username" id="username" placeholder="username" />
            <input type="text" name="password" id="password" placeholder="password" />
            <input type="text" name="firstName" id="firstName" placeholder="firstName" />
            <input type="text" name="lastName" id="lastName" placeholder="lastName" />
            <input type="text" name="dateOfBirth" id="dateOfBirth" placeholder="dateOfBirth" />
            <input type="text" name="blodType" id="blodType" placeholder="blodType" />
            <input type="text" name="placeName" id="placeName" placeholder="placeName" />
            <input type="text" name="emailAdress" id="emailAdress" placeholder="emailAdress" />
            <input type="text" name="phoneNum" id="phoneNum" placeholder="phoneNum" />
            <input type="submit" >

<!--            <a href="#">If you have an account? click here</a>-->
<!--            <button>Sign Up</button>-->
        </form>
<!--    </div>-->
<!--    <div class="form-container sign-in-container">-->
<!--        <form action="#">-->
<!--            <h1>Sign in as Donor Account</h1>-->
<!--            <input type="email" placeholder="Email" />-->
<!--            <input type="password" placeholder="Password" />-->
<!--            <a href="#">To create a new account? click here</a>-->
<!--            <button>Sign In</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="overlay-container">-->
<!--        <div class="overlay">-->
<!--            <div class="overlay-panel overlay-left">-->
<!--                <h1>Donor Account</h1>-->
<!--                <p>To login as a Donor Account, please click here</p>-->
<!--                <button class="ghost" id="signIn">Sign In</button>-->
<!--            </div>-->
<!--            <div class="overlay-panel overlay-right">-->
<!--                <h1>Hospitals Account</h1>-->
<!--                <p>To login as a Hospitals Account, please click here</p>-->
<!--                <button class="ghost" id="signUp">Sign In</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<!--<script type="text/javascript" th:src="@{/js/login.js}"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

</body>
</html>